<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>
  <connectionStrings>
    <!--'CDMAMallDbContext'-->
    <add name="AppDevelopContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.251.200;initial catalog=CDMAMall;user id=wb_mall;password=g4Jsi2Z_!Kg&amp;$Pfgd_1%U7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppProductContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=133.0.126.18;initial catalog=CDMAMall;user id=wb_mall;password=g4Jsi2Z_!Kg&amp;$Pfgd_1%U7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LocalAuth" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AuthCenter_DefaultShared.mdf;Initial Catalog=AuthCenter;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LocalCMS" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\LocalCMS.mdf;Initial Catalog=LocalCMS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <source name="LoggerAppException" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--异常记载-->
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="exception-{0:yyyy}-{0:MM}-{0:dd}.log" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Information" />
    </switches>
  </system.diagnostics>
  
  <appSettings>
    <!--log4net配置,当LogManager.GetLogger(..)时读取;
        如果是log4net.Config.XmlConfigurator.Configure(),则在根配置文件中注入section map-pair.前者自由(代价),后者高性能(僵硬)
    -->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />

    <add key="AuthConnectionConfig" value="LocalAuth" />
    <add key="environment" value="AppDevelopContext" />
    <add key="useClientAuthentication" value="True" />
    <add key="AnoymouseAllowedOrigins" value="*" />
    <add key="uploadUrl" value="http://hb.10000shequ.com/UploadImg/Home/UpImg" />
    <add key="upload-middler-for-test" value="True" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--鉴权服务器虚拟机器码: 生成ps脚本见D:\settings\ machinekeyGeneratorPs.ps,资源服务器须要此虚拟机器码用于解析-->
    <machineKey decryption="AES" decryptionKey="6355CB728619C146F77E3E733C8EAD6A53E37B282E0005F82BE202740CD74330" validation="SHA1" validationKey="8C93D311E42C6B86456E38F508EE52EFE9A9C29D735F3C08326653416E3CF9F77CC2A39E777B26521204EA0C3F222321C6A00CCA3BA7E1D304EA80009AE76714" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
	  
	  <add name="StaticHandler" verb="*" path="*.zip" type="System.Web.StaticFileHandler" preCondition="integratedMode" />   

      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--<system.identityModel>
    <identityConfiguration>
      <claimsAuthorizationManager type="MallAuth.AuthProvider.SimpleRestAuthorizationManager, MallAuth" /> --><!--自定义claimsAuthorizationManager--><!--
    </identityConfiguration>
  </system.identityModel>-->


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
